.card_box {
  height: 100svh;
  background-image: url(../../assets/bg-texture.png);
  position: relative;
  z-index: 1; /* Set a higher z-index to make it appear on top */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  top: 3rem;
  background-image: url(../../assets/test.png);
  background-position: -3rem center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.container {
  height: 90%;
  display: flex;
}
.blank {
  height: 10%;
  background-color: wheat;
}

/* img {
  background-color: aliceblue;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
} */

.col {
  height: auto;

  width: auto;
}
/* 
.imageDiv img {
  position: relative;
  width: auto;
  max-width: 100%;
  height: 50%;
  max-height: 100svh;
  margin-top: 4rem;
  left: 20svi;
  transform: translate(-40%, -100%);
} */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 35%;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 5rem;
  background: var(--color-lightVar);
}
a {
  color: wheat;
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
}

.text {
  position: absolute;
  top: 70%;
  left: 61%;
  transform: translate(-30%, -60%);
}

.description {
  font-size: 1rem;
}
@media (max-width: 764px) {
  .header__socials {
    display: none;
  }
  .overlay {
    top: 6rem;
    background-size: auto 90%;
  }
}

@media (min-width: 764px) {
  .text {
    left: 65%;
  }
  .overlay {
    background-position: 10% center;
  }
}
@media (min-width: 1024px) {
  .overlay {
    background-position: 25% center;
  }
}

@media (max-width: 281px) {
  .overlay {
    /* background-position: 25% center; */
    background-size: auto 80%;
    top: 5rem;
  }
  .text {
    left: 70%;
    size-adjust: 0.5;
  }
}
